:root {
  --smoky-black: rgba(21, 13, 8, 0.5);
  --chamoisee: rgba(158, 118, 92, 0.5);
  --licorice: rgba(39, 21, 10, 0.5);
  --bistre: rgba(44, 32, 25, 0.5);
  --buff: rgba(203, 151, 117, 0.5);
  --wood: rgba(165, 111, 67, 0.9);
  --border-color: #dba084;
  --read: rgba(0, 128, 0, 0.3);
  --unread-circle: rgba(255, 0, 0, 0.3);
  --unread: rgba(222, 27, 27, 0.3);
  --read-circle: rgba(17, 234, 46, 0.3);
  --button-color: rgba(44, 32, 25, 0.9);
  --regular-font: "Lora", serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
--heading-font: "Montserrat", sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: var(--regular-font);
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center;
  background-image: url(./images/background.jpg);
  background-attachment: fixed;
  color: white;
}

h1{
  font-family: var(--heading-font);
  font-size: clamp(1.95rem, 1.43vw + 1.67rem, 2.81rem);
}

button, a{
  font-family: var(--heading-font);
}
 
#addBook, #new-book{
  color: white;
  background-color: var(--button-color);
}

#myModal{
  color: black;
}

.form-holder{
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.form-inline{
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
}

label{
  margin-right: 1rem;
  /* margin: 0 1rem;
  width: min(3rem, 1rem); */
  /* max-width: 15%; */
}

.to-equal-t{
  margin-right: 2rem;
}

.to-equal-p{
  margin-right: 1.5rem;
}

input, select{
  font-size: 1rem;
  min-height: 2rem;
  flex: 1;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.left {
  /* color: white; */
  margin-right: 2px;
  position: sticky;
  top: 1rem;
  align-self: start;
}

.left > button {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem;
}

.title-holder {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(1rem, 1fr));
  gap: 1rem;
}

.title {
  text-decoration: none;
  color: white;
  padding: 1rem;
  text-align: center;
  background-color: var(--wood);
}

.right {
  margin-top: 6rem;
}

.empty {
  width: 100%;
  height: 80vh;
  font-size:  clamp(1.95rem, 1.43vw + 1.67rem, 2.81rem);
  background-color: var(--bistre);
  padding: 1rem;
  text-align: center;
  padding-top: 30% ;
  border-radius: 1rem;
  border: 2px solid var(--border-color);
}

.card-holder {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  background-color: var(--bistre);
  padding: 1rem;
  text-align: justify;
  border-radius: 1rem;
  border: 2px solid var(--border-color);
}

.card-unread {
  background-color: var(--unread);
  padding: 1rem;
  text-align: justify;
  border-radius: 1rem;
  border: 2px solid var(--border-color);
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--read-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  margin: 0 auto;
}

.u-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--unread-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  margin: 0 auto;
}

.book-name {
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem 0;
}

.book-body {
  text-align: center;
}

.switch {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(46px);
}

@media (max-width: 880px) {
  .container {
    grid-template-columns: 1fr;
  }
  .title {
    display: none;
  }

  .left {
    margin: 0 2px;
  }
  .right {
    margin-top: 0;
  }

  .form-holder, .modal-content, .form-holder{
    max-width: 100%;
    margin: 0;
  }
  .left{
    position: static;
  }
  .empty {
    padding: 3rem 1rem;
    height: 100%;
  }
}
